* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.first {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url('environment.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button button {
    margin-left: 30px;
}

.down {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 50px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    box-shadow: 0px 10px 15px violet 0px 0px 30px violet;
}

.side {
    cursor: pointer;
}

.down:hover {
    margin: -0.5px;
    background-color: gray;
    box-shadow: 10px 0px 15px violet;
}

.goal {
    height: 800px;
    width: 100%;
}

.goal_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 500px;
    text-align: center;
    height: 500px;
    cursor: pointer;
    transition: 1s ease;
}

.footer {
    height: 100px;
    background-color: black;
}

.card:hover {
    height: 530px;
    width: 530px;
    box-shadow: 0px 0px 15px black;
}
